{% load static %}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="text-body-secondary">{{ site.copyright_text }}</p>
        <a href="{% url 'core:home' %}"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            {% if site.logo %}
                <img src="{{ site.logo.url }}" alt="{{ site.name }}" height="32">
            {% else %}
                <span class="fs-5">{{ site.name }}</span>
            {% endif %}
        </a>
        <ul class="nav col-md-4 justify-content-end">
            {% include "footers/_footer_links.html" with link_class="px-2 text-body-secondary" %}
        </ul>
    </footer>
</div>
