{% extends 'admin/change_list.html' %}
{% load i18n %}

<!--
  Custom change list for the Page model.
  Adds a "New from template" button next to the standard "Add page" button
  in the object-tools toolbar at the top right.
-->

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:core_page_new_from_template' %}"
           class="addlink"
           title="Create a new page starting from a pre-built template">
            {% trans "New from template" %}
        </a>
    </li>
    {{ block.super }}
{% endblock %}
